@model MailKitReadEmailPOC.Models.DashBoardMailBoxJob
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> Mail Box >> @Html.DisplayFor(m => m.mess)</h3>

<h5> Downloaded Attachments are available at location : @ViewBag.Folder </h5>


<div class="row" id="asd">
    <div class="col-md-6">
        <table class="table table-bordered" id="example2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Subject</th>
                    <th>Attachments</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Inbox)
                    {
                <tr>
                    <td>@Html.DisplayFor(m => item.sendDate)</td>
                    <td>@Html.DisplayFor(m => item.sender)</td>
                    <td>@Html.DisplayFor(m => item.subject)</td>

                    <td>@Html.DisplayFor(m => item.AttachedFiles)</td>
                    @*<td id="@item.UID">
            @Html.ActionLink(item.AttachedFiles, "DownLoadAttachment", "Home", new  { UID = item.UID})
            @*<a href='@Url.Action("GetMessegeBody", "MailBox", new { id = item.UID })'>
            @Html.DisplayFor(m => item.AttachedFiles)
        </a></td>*@


                </tr>
                    }
                }
            </tbody>

        </table>
        

    </div>

</div>




